@use "../../assets/styles/colors";
@use "../../assets/styles/fonts";
@use "../../assets/styles/media-queries";
@use "../../assets/styles/mixin";

.section-title {
  border-top: 1px solid colors.$black;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    h4 {
      width: 100%;
      font-size: fonts.$h4;
      font-weight: normal;
      letter-spacing: -0.02em;
      white-space: pre-line;
      hyphens: none;
      margin: 1.5rem 0 0.5rem 0;
      text-transform: uppercase;
    }

    p {
      width: 100%;
      font-size: fonts.$p;
      margin: 0;
      text-transform: none;
      line-height: 1.5;
    }
  }

  @include media-queries.breakpoint(tablet) {
    div {
      flex-direction: row;
      gap: 2.5rem;

      h4,
      p {
        width: 50%;
        margin: 1.5rem 0;
      }
    }
  }
}
