@use "../../assets/styles/colors";
@use "../../assets/styles/fonts";
@use "../../assets/styles/media-queries";
@use "../../assets/styles/mixin";

@keyframes status {
  50% {
    opacity: 0;
  }
}

.hero {
  padding: 5rem 0;

  h1 {
    font-size: 9vw;
    margin: 0;
    font-weight: normal;
  }

  .status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;

      span.circle {
        display: inline-block;
        width: 0.45rem;
        height: 0.45rem;
        border-radius: 2rem;
        background-color: colors.$green;
        animation: 1.125s status step-end 0s infinite;
      }

      p {
        font-size: fonts.$p-small;
        margin: 0;
      }
    }
  }
  @include media-queries.breakpoint(tablet) {
    padding: 7.5rem 0;

    h1 {
      font-size: 7vw;
    }
  }

  @include media-queries.breakpoint(desktop) {
    // h1 {
    //   font-size: 7vw;
    //   margin: 0;
    // }
  }
}
