@use "../../assets/styles/colors";
@use "../../assets/styles/fonts";
@use "../../assets/styles/media-queries";
@use "../../assets/styles/mixin";

.project-card {
  position: relative;
  //   width: 100%;
  height: 120vw;
  //   background-color: lightblue;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 1.5rem;

  .content {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tags {
      font-size: fonts.$p-small;
      .sector {
        li {
          display: block;
          border: 1px solid colors.$black;
        }
      }

      .languages {
        display: none;
      }
    }
  }

  .thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  @include media-queries.breakpoint(tablet) {
    width: 50%;
    height: 50vw;
  }
}
