@use "./colors";
@use "./fonts";
@use "./media-queries";
@use "./mixin";

@font-face {
  font-family: "Diatype";
  src: url(../fonts/ABCDiatype-Regular-Trial.woff2);
}

html {
  box-sizing: border-box;
  background-color: colors.$white;
}

body {
  font-family: Diatype;
  a {
    color: colors.$black;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
}

.wrapper {
  margin: 0 1rem;

  @include media-queries.breakpoint(tablet) {
    margin: 0 2.5rem;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 3rem 0;

  @include media-queries.breakpoint(tablet) {
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: wrap;
  }
}
