@use "./colors";
@use "./fonts";
@use "./media-queries";
@use "./mixin";

@font-face {
  font-family: "Diatype";
  src: url(../fonts/ABCDiatype-Regular-Trial.woff2);
}

html {
  box-sizing: border-box;
  background-color: colors.$white;
  font-family: Diatype, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  a {
    color: colors.$black;
    text-decoration: none;
  }

  main {
    background-color: colors.$white;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
  }
}

a.link {
  text-decoration: none;
  position: relative;
  color: colors.$black;
  font-size: fonts.$p;
  font-weight: normal;
  padding: 0.125rem 0;
  &::after {
    content: "";
    border-bottom: solid 2px colors.$black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
  }
  &:hover {
    &::after {
      transform-origin: right;
      transform: scaleX(0);
    }
  }
}
